<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Event Information</title>
  <link rel="stylesheet" href="/styles/event.css" />
</head>

<body>

  <div>
    <a href="/admin-home">
      <img id="backimage" src="/images/back.png" />
    </a>
  </div>

  </div>
  <div class="jeevan">
    <h1><%= eventname %></h1>
    <div class="container">
      <div class="image image-div">
        <img src="<%= poster %>" alt="Event Image" class="image" />
        <!-- <button>Register</button> -->
      </div>
      <div class="info">
        <p>Host:</p>
        <p>Campus Wide:</p>
        <p>
          <% if (pan_campus) { %>
            <% } else { %>
              For:
              <% } %>
        </p>
        <% if (venue) { %>
        <p>Venue:</p>
        <% } %>
        <% if (start_date) { %>
        <p>Date:</p>
        <% } %>
        <% if (event_time) { %>
        <p>Time:</p>
        <% } %>
        <% if (attendance && attendance != 0) { %>
        <p>Attendence:</p>
        <% } %>
        <p>Description:</p>
      </div>
      <div class="results">
        <p><%= host %></p>
        <p>
          <% if (pan_campus) { %>
            Yes
          <% } else { %>
            No
          <% } %>
        </p>
        <p><%= audience %></p>
        <% if (venue) { %>
        <p><%= venue %></p>
        <% } %>
        <% if (start_date) { %>
        <p><%= start_date.toLocaleDateString('en-GB') %></p>
        <% } %>
        <% if (event_time) { %>
        <p><%= event_time %></p>
        <% } %>
        <p><%= event_desc %></p>
        <% if (attendance && attendance != 0) { %>
        <p><%= attendance %></p>
        <% } %>
      </div>
    </div>
  </div>

  <footer>
    <address>
      CONTACT US <br />+91 1234567890 <br />mail@christuniversity.in
    </address>
    <div class="inside">
      <a href="christuniversity.in" class="site">christuniversity.in</a>
    </div>
    <p>PRIVACY POLICY</p>
  </footer>
</body>

</html>
