<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Event Information</title>
  <link rel="stylesheet" href="/styles/event.css" />
</head>

<body>

  <div>
    <a href="/logo-home">
      <img id="backimage" src="/images/back.png" />
    </a>
  </div>

  </div>
  <div class="jeevan">
    <h1><%= eventname %></h1>
    <div class="container">
      <div class="image image-div">
        <img src="<%= poster %>" alt="Event Image" class="image" />
        <button>Register</button>
      </div>
      <div class="info">
        <p>Host:</p>
        <p>Campus Wide:</p>
        <p>
          <%if (pan_campus) {%>
            
            <% }else{ %>
              For:
              <% } %>
        </p>
        <p>Date:</p>
        <p>Time:</p>
        <p>Venue:</p>
        <p>Description:</p>
        <p>Attendence:</p>
      </div>
      <div class="results">
        <p>
          <%= club %>
        </p>
        <p>
          <%if (pan_campus) {%>
            Yes
            <% }else{ %>
              No
              <% } %>
        </p>
        <p><%= audience %></p>
        <p><%= start_date %></p>
        <p><%= event_time %></p>
        <p><%= venue %></p>
        <p><%= event_desc %></p>
        <p><%= attendance %></p>

      </div>
    </div>
  </div>

  <footer>
    <address>
      CONTACT US <br />+91 1234567890 <br />mail@christuniversity.in
    </address>
    <div class="inside">
      <a href="christuniversity.in" class="site">christuniversity.in</a>
    </div>
    <p>PRIVACY POLICY</p>
  </footer>
</body>

</html>