<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event Information</title>
    <link rel="stylesheet" href="/styles/event.css" />
    <script>
      function formatDate(dateString) {
        const date = new Date(dateString);
        const day = date.getDate().toString().padStart(2, "0");
        const month = (date.getMonth() + 1).toString().padStart(2, "0");
        const year = date.getFullYear().toString().slice(-2);
        return `${day}/${month}/${year}`;
      }
    </script>
  </head>
  <body>
    <div>
      <a href="/logo-home">
        <img id="backimage" src="/images/back.png" />
      </a>
    </div>

    <div class="jeevan">
      <h1><%= eventname %></h1>
      <div class="container">
        <div class="image image-div">
          <img src="<%= poster %>" alt="Event Image" class="image" />
        </div>
        <div class="info">
          <div class="button-wrapper">
            <a href="<%= formlink %>" target="_blank">
              <button>Register</button>
            </a>
          </div>
          <div class="date-flex">
            <p class="class-date">Host:</p>
            <% if (host) { %>
            <p class="class-date"><%= host %></p>
          </div>
          <% } %> <% if (pan_campus) { %>
          <p class="class-date">Campus Wide: Yes</p>
          <% } else if (pan_campus === false) { %>
          <p class="class-date">Campus Wide: No</p>
          <% } %> <% if (audience !== null) { %>
          <p class="class-date" style="margin-top: 0 !important">
            For: <%= audience %>
          </p>
          <% } %>
          <div class="date-flex">
            <p class="class-date" style="margin-top: 0 !important">Date:</p>
            <% if (start_date && end_date) { %>
            <div class="date-flex">
              <p class="class-date" style="margin-top: 0 !important">
                <script>
                  document.write(formatDate("<%= start_date %>"));
                </script>
              </p>
              <% if (start_date.getTime() !== end_date.getTime()) { %>
              <p class="class-date" style="margin-top: 0 !important">-</p>
              <p class="class-date" style="margin-top: 0 !important">
                <script>
                  document.write(formatDate("<%= end_date %>"));
                </script>
              </p>
              <% } %>
            </div>
          </div>

          <% } %> <% if (event_time && event_time !=='00:00:00') { %>
          <p class="class-date">Time: <%= event_time %></p>
          <% } %> <% if (venue !== null) { %>
          <p class="class-date" style="margin-top: 0 !important">
            Venue: <%= venue %>
          </p>
          <% } %> <% if (event_desc) { %>
          <p class="class-date">Description: <%= event_desc %></p>
          <% } %> <% if (attendance === 1) { %>
          <p class="class-date">Attendance: Yes</p>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
